

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-color: peachpuff;
}

.App {
  text-align: center;
}

.section


.center {
  margin: 2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}

#github {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

#linkedin {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.section {
  padding-top: 400px;
  padding-bottom: max(400px, 10%);
  background-repeat: repeat;
  background-position: center;
  color: white;
}


Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

#intro h1 {
  font-size: 5em;
  font-weight: 1000;
  margin: 0;
  padding: 100px;
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: lavender;
}

.navbar-nav .nav-link:focus {
  color: lavender;
}

.navbar-brand {
  color: white;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: lavender;
}

.navbar-brand:active {
  color: pink;
}
