#root {
  max-width: 1280px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.card-header {
  font-size: 1.5em;
  font-weight: 600;
}

.center {
  margin: 2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#github {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

#linkedin {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

#intro {
  padding-top:300px;
  padding-bottom: 1000px;
}


