body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(0deg, #b1d8fe 0%, #66a2fc 51%, #2c92fe 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.App {
  text-align: center;
}



.icon {
  padding: 10px;
}

a {
  height: 75%;
}

.center {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section {
  padding-top: 400px;
  padding-bottom: max(300px, 10%);
  background-repeat: repeat;
  background-position: center;
  color: white;

}

.section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.section p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

hr {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, #2c92fe 0%, #66a2fc 50%);
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #b1d8fe 
}

.navbar-nav .nav-link:focus {
  color: #b1d8fe 
}

.navbar-nav .nav-link:active {
  color: #2c92fe;
}

.navbar-brand {
  color: white;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #b1d8fe 
}

.navbar-brand:active {
  color: #2c92fe;
}

#intro {
  color: white;
  padding-top: 50vh;
  padding-bottom: 300px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  transform: spin;
}
  
.section h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  transition: all 3s;
}

.skills-container .skill-card:nth-child(1) {
  transform: rotate(0deg) translateY(-250px) rotate(0deg);
}

.skills-container .skill-card:nth-child(2) {
  transform: rotate(45deg) translateY(-250px) rotate(-45deg);
}

.skills-container .skill-card:nth-child(3) {
  transform: rotate(90deg) translateY(-250px) rotate(-90deg);
}

.skills-container .skill-card:nth-child(4) {
  transform: rotate(135deg) translateY(-250px) rotate(-135deg);
}

.skills-container .skill-card:nth-child(5) {
  transform: rotate(180deg) translateY(-250px) rotate(-180deg);
}

.skills-container .skill-card:nth-child(6) {
  transform: rotate(225deg) translateY(-250px) rotate(-225deg);
}

.skills-container .skill-card:nth-child(7) {
  transform: rotate(270deg) translateY(-250px) rotate(-270deg);
}

.skills-container .skill-card:nth-child(8) {
  transform: rotate(315deg) translateY(-250px) rotate(-315deg);
}


.section {
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.see-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff0f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #0056b3;
}

.see-more-button:active {
  background-color: #003c7e;
}
